/*
Form.css
Version : 1.1.0
Author: Rohit Chouhan
*/

.group {
	padding:10px;
}

.dark-mode {
	background:#303030;
	color:white;
}

.form {
	font-style:arial;
	box-shadow: inset 1px 2px 5px #e8e8e8;
	font-size:15px;
	padding-left:5px;
	height:35px;
	width:100%;
	border:1px solid #e8e8e8;
	outline:none;
}

.round {
	border-radius:50px;
}

.glow-primary:focus {
  box-shadow: 0 0 8px rgba(81, 203, 238, 1);
  border: 0px solid rgba(81, 203, 238, 1);
}

.active-glow-primary{
  box-shadow: 0 0 8px rgba(81, 203, 238, 1);
  border: 0px solid rgba(81, 203, 238, 1);
}

.inglow-primary:focus {
  box-shadow: inset 0 0 8px rgba(81, 203, 238, 1);
  border: 0px solid rgba(81, 203, 238, 1);
}

.active-inglow-primary {
  box-shadow: inset 0 0 8px rgba(81, 203, 238, 1);
  border: 0px solid rgba(81, 203, 238, 1);
}

.glow-success:focus {
  box-shadow: 0 0 8px rgba(0, 237, 12, 1);
  border: 0px solid rgba(0, 237, 12, 1);
}

.active-glow-success {
  box-shadow: 0 0 8px rgba(0, 237, 12, 1);
  border: 0px solid rgba(0, 237, 12, 1);
}

.inglow-success:focus {
  box-shadow: inset 0 0 8px rgba(0, 237, 12, 1);
  border: 0px solid rgba(0, 237, 12, 1);
}

.active-inglow-success {
  box-shadow: inset 0 0 8px rgba(0, 237, 12, 1);
  border: 0px solid rgba(0, 237, 12, 1);
}


.glow-warning:focus {
  box-shadow: 0 0 8px rgba(245, 245, 0, 1);
  border: 0px solid rgba(245, 245, 0, 1);
}

.active-glow-warning {
  box-shadow: 0 0 8px rgba(245, 245, 0, 1);
  border: 0px solid rgba(245, 245, 0, 1);
}

.inglow-warning:focus {
  box-shadow: inset 0 0 8px rgba(245, 245, 0, 1);
  border: 0px solid rgba(245, 245, 0, 1);
}

.active-inglow-warning {
  box-shadow: inset 0 0 8px rgba(245, 245, 0, 1);
  border: 0px solid rgba(245, 245, 0, 1);
}

.glow-danger:focus {
  box-shadow: 0 0 8px rgba(242, 5, 52, 1);
  border: 0px solid rgba(242, 5, 52, 1);
}

.active-glow-danger: {
  box-shadow: 0 0 8px rgba(242, 5, 52, 1);
  border: 0px solid rgba(242, 5, 52, 1);
}

.inglow-danger:focus {
  box-shadow: inset 0 0 8px rgba(242, 5, 52, 1);
  border: 0px solid rgba(242, 5, 52, 1);
}

.active-inglow-danger: {
  box-shadow: inset 0 0 8px rgba(242, 5, 52, 1);
  border: 0px solid rgba(242, 5, 52, 1);
}


.glow-dark:focus {
  box-shadow: 0 0 8px rgba(48, 48, 48, 1);
  border: 0px solid rgba(48, 48, 48, 1);
}

.active-glow-dark {
  box-shadow: 0 0 8px rgba(48, 48, 48, 1);
  border: 0px solid rgba(48, 48, 48, 1);
}

.inglow-dark:focus {
  box-shadow: inset  0 0 8px rgba(48, 48, 48, 1);
  border: 0px solid rgba(48, 48, 48, 1);
}

.active-inglow-dark {
  box-shadow: inset 0 0 8px rgba(48, 48, 48, 1);
  border: 0px solid rgba(48, 48, 48, 1);
}

.glow-secondary:focus {
  box-shadow: 0 0 8px rgba(168, 168, 168, 1);
  border: 0px solid rgba(168, 168, 168, 1);
}

.active-glow-secondary {
  box-shadow: 0 0 8px rgba(168, 168, 168, 1);
  border: 0px solid rgba(168, 168, 168, 1);
}

.inglow-secondary:focus {
  box-shadow: inset 0 0 8px rgba(168, 168, 168, 1);
  border: 0px solid rgba(168, 168, 168, 1);
}

.active-inglow-secondary {
  box-shadow: inset 0 0 8px rgba(168, 168, 168, 1);
  border: 0px solid rgba(168, 168, 168, 1);
}
